body {
  background: #eee;
}

.page-container {
  margin-top: 40px;
}

figure.user-card {
  background: #ffffff;
  padding: 20px;
  border-top: 3px solid #f2f2f2;
  border: 1px solid #e1e5f1;
  text-align: center;
}

figure.user-card.red {
  border-top: 3px solid #fc6d4c;
}

figure.user-card.green {
  border-top: 3px solid #3ecfac;
}

figure.user-card.blue {
  border-top: 3px solid #5a99ee;
}

figure.user-card.yellow {
  border-top: 3px solid #ffc139;
}

figure.user-card.orange {
  border-top: 3px solid #ff5000;
}

figure.user-card.teal {
  border-top: 3px solid #47bcc7;
}

figure.user-card.pink {
  border-top: 3px solid #ff9fd0;
}

figure.user-card.brown {
  border-top: 3px solid #79574b;
}

figure.user-card.purple {
  border-top: 3px solid #904e95;
}

figure.user-card h5 {
  margin: 0 0 5px 0;
}

figure.user-card h6 {
  margin: 0 0 15px 0;
  color: #8796af;
  font-size: 14px;
}

figure.user-card p {
  margin: 0;
  padding: 0 0 15px 0;
  color: #8796af;
  line-height: 150%;
  font-size: 0.85rem;
}

figure.user-card .button {
  margin: 0;
  padding: 0 0 15px 0;
  line-height: 150%;
  font-size: 0.85rem;
}
a {
  text-decoration: none;
}
.sticky-section {
  overflow: hidden;
  background-color: #09689e;
  margin-bottom: 50px;
  width: 100%;
  color: white;
}

nav a {
  float: right;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 20px 30px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}
#logo {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 15px 15px;
}

nav a:hover {
  background-color: #002e5b;
  color: wheat;
}
